$ease: cubic-bezier(0.215, 0.61, 0.355, 1);
$color-pale: #f5efe1;
$color-red: #f00000;
$color-black: #000000;
$color-white: #ffffff;
$font-display: 'Freight', serif;
// $font-display: 'adobe-garamond-pro', serif;
$font-main: 'Neue Haas Grotesk', sans-serif;
